:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  ::ng-deep .mat-mdc-radio-button {
    padding-bottom: 24px;
  }

  .cart {
    &-with-order {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 100%;

      @media screen and (max-width: 1200px) {
        display: block;
      }
    }

    &-wrap {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      background: rgba(255, 255, 255, 1);
      position: relative;
      padding: 0 10px;
      max-width: 600px;
      margin: 0 10px 10px auto;
      min-width: 300px;

      @media screen and (max-width: 1200px) {
        margin: 0 auto;
      }
    }

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;
    }

    &-items-last {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    &-empty {
      width: 100%;
      margin: 0 auto 0 auto;
    }

    &-title {
      padding: 0 10px;
    }

    &-image-wrap {
      display: flex;
      align-items: center;
      width: 50%;
    }

    &-image {
      height: 70px;
    }

    &-remove {
      color: red;
      cursor: pointer;
    }

    &-item-part {
      min-width: 10%;
    }

    &-item-last-down {
      width: 24px;
    }

    &-navigation-button {
      float: right;
      margin: 5px 2px;
    }

    &-order-title {
      margin: 0 0 10px 20px;
    }
  }

  .cart-address-field {
    display: flex;
    flex-wrap: wrap;
  }

  .pay-success {
    color: #4bb543;
    font-size: 25px;
    line-height: 30px;
    padding: 20px;
  }

  .order-form-wrap {
    background: #fff;
    position: relative;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto 10px 10px;

    @media screen and (max-width: 1200px) {
      margin: 10px auto;
    }
  }

  .delivery-button {
    margin: 20px 0;
    display: flex;
    flex-flow: column;
  }

  .payment-choice {
    padding: 0 0 0 10px;
    margin: 10px 0;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
    min-height: 80px;
    display: flex;
  
    &--active {
      background: #1de9b6;
    }
  }

  .order-last-summary {
    display: flex;
    flex-flow: column;
    padding: 0 0 20px 20px;
  }

  .submit-order-button {
    margin: 25px 0;
    width: 100%;
  }

  .order-field {
    width: 100%;
    margin: 0 5px;
  }

  .order-field-small {
    flex: 1;
    margin: 0 5px;
  }
  
}
