<div class="main">
  @if (!(cart$ | async)) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <div class="container">
    @if (cart$ | async; as cart) {

    <div class="cart">
      <div class="cart-with-order">
        <ul class="cart-wrap" [class.cart-empty]="!cart?.items?.length">
          <li class="cart-items">
            <h2>{{ 'Cart_title' | translate | async }}</h2>
          </li>
          @for (cartItem of cart?.items; track cartItem; let last = $last) {
          <li class="cart-items" [class.cart-last-item]="last">
            <div class="cart-image-wrap">
              <a [routerLink]="['/' + (lang$ | async) + '/product/' + cartItem?.item?.titleUrl]">
                <img class="cart-image" src="{{ cartItem?.item?.mainImage?.url }}" />
              </a>
              <div class="cart-title">{{ cartItem?.item.title }}</div>
            </div>
            <div class="cart-item-part">{{ cartItem.qty }} ks</div>
            <div class="cart-item-part">
              {{ cartItem.price | priceFormat }}
              {{ currency$ | async }}
            </div>
            <div class="cart-remove" (click)="removeFromCart(cartItem?.item?._id)"><i class="material-icons cart-icon">remove</i></div>
          </li>
          } @if (cart.shippingType) {
          <li class="cart-items">
            <div class="cart-image-wrap">{{ 'Shipping' | translate | async }} ({{ cart.shippingType | translate | async }})</div>
            <div class="cart-item-part">&nbsp;</div>
            <div class="cart-item-part">
              {{ cart.shippingCost | priceFormat }}
              {{ currency$ | async }}
            </div>
            <div class="cart-item-last-down"></div>
          </li>
          }
          <li class="cart-items cart-items-last">
            <div class="cart-image-wrap">
              <b>{{ 'Summary' | translate | async }}</b>
            </div>
            <div class="cart-item-part">
              <b>{{ cart.totalQty }} ks</b>
            </div>
            <div class="cart-item-part">
              <b>
                {{ cart.totalPrice | priceFormat }}
                {{ currency$ | async }}
              </b>
            </div>
            <div class="cart-item-last-down"></div>
          </li>
        </ul>

        @if (!!cart?.items?.length && !(loading$ | async)) {
        <div class="order-form-wrap">
          <h2 class="cart-order-title">{{ 'Make_order' | translate | async }}</h2>
          <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="orderForm">
              <form [formGroup]="orderForm">
                <ng-template matStepLabel>{{ 'Address' | translate | async }}</ng-template>
                <mat-form-field class="order-field">
                  <mat-label>
                    {{ 'Firstname' | translate | async }}
                    {{ 'and' | translate | async }}
                    {{ 'Surname' | translate | async }}
                  </mat-label>
                  <input matInput formControlName="name" type="text" name="name" />
                </mat-form-field>
                <mat-form-field class="order-field">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" name="email" />
                </mat-form-field>
                <mat-form-field class="order-field">
                  <mat-label>{{ 'Address' | translate | async }}</mat-label>
                  <input matInput formControlName="address" type="text" name="address" />
                </mat-form-field>
                <div class="cart-address-field">
                  <mat-form-field class="order-field-small">
                    <mat-label>{{ 'City' | translate | async }}</mat-label>
                    <input matInput formControlName="city" type="text" name="city" />
                  </mat-form-field>
                  <mat-form-field class="order-field-small">
                    <mat-label>{{ 'ZIP' | translate | async }}</mat-label>
                    <input matInput formControlName="zip" type="text" name="zip" />
                  </mat-form-field>
                </div>
                <mat-form-field class="order-field">
                  <mat-label>{{ 'Country' | translate | async }}</mat-label>
                  <input matInput formControlName="country" type="text" name="country" />
                </mat-form-field>
                <mat-form-field class="order-field">
                  <mat-label>{{ 'Notes' | translate | async }}</mat-label>
                  <textarea matInput formControlName="notes" name="notes"> </textarea>
                </mat-form-field>
                <div>
                  <button class="cart-navigation-button" mat-stroked-button matStepperNext>
                    {{ 'Next' | translate | async }}
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="toggleCard">
              <ng-template matStepLabel>{{ 'Payment_method' | translate | async }}</ng-template>
              @if (orderForm.valid) {
              <mat-radio-group class="delivery-button" [(ngModel)]="toggleCard">
                <mat-radio-button class="payment-choice" [class.payment-choice--active]="toggleCard" [value]="true">
                  <span class="flex">
                    <mat-icon>credit_card</mat-icon>
                    <span class="margin-left-small">
                      {{ 'Pay' | translate | async }}
                      <b>
                        {{ cart?.totalPrice | priceFormat }}
                        {{ currency$ | async }}
                      </b>
                      {{ 'with' | translate | async }}
                      {{ 'card' | translate | async }}
                    </span>
                  </span>
                </mat-radio-button>
                <mat-radio-button class="payment-choice" [class.payment-choice--active]="!toggleCard" [value]="false">
                  <span class="flex">
                    <mat-icon>local_atm</mat-icon>
                    <span class="margin-left-small">
                      {{ 'Payment' | translate | async }}
                      {{ 'on' | translate | async }}
                      {{ 'delivery' | translate | async }}
                    </span>
                  </span>
                </mat-radio-button>
              </mat-radio-group>
              }
              <div>
                <button class="cart-navigation-button" mat-stroked-button matStepperNext>
                  {{ 'Next' | translate | async }}
                </button>
                <button class="cart-navigation-button" mat-stroked-button matStepperPrevious>
                  {{ 'Back' | translate | async }}
                </button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{ 'Summary_and_payment' | translate | async }}</ng-template>
              <div class="flex items-start margin-top-basic">
                <span>{{ 'Your_summary' | translate | async }}</span>
                <div class="order-last-summary">
                  <span>
                    {{ orderForm.get('name').value }}
                  </span>
                  <span>
                    {{ orderForm.get('email').value }}
                  </span>
                  <span>
                    {{ orderForm.get('address').value }}
                  </span>
                  <span> {{ orderForm.get('city').value }},{{ orderForm.get('zip').value }} </span>
                  <span>
                    {{ orderForm.get('country').value }}
                  </span>
                </div>
              </div>

              @if (toggleCard) {
              <app-card
                [price]="cart?.totalPrice | priceFormat"
                [currency]="currency$ | async"
                [loading]="loading$ | async"
                (scrollToTop)="scrollToTop()"
                (payWithCardEmit)="payWithCard($event)"
              >
              </app-card>
              } @if (!toggleCard && (currency$ | async); as currency) {
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="submit-order-button"
                [disabled]="orderForm.invalid"
                (click)="submit(currency)"
              >
                {{ 'MakeOrder' | translate | async }}
              </button>
              }
              <div>
                <button class="cart-navigation-button" mat-stroked-button matStepperPrevious>
                  {{ 'Back' | translate | async }}
                </button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
        }
          @if ((loading$ | async)) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
          @if (!cart?.items?.length && order$ | async; as order) {
        <div class="order-form-wrap">
          @if (order.outcome.seller_message) { @if (order.outcome.seller_message === 'WITH_PAYMENT') {
          <div class="pay-success">
            {{ 'SuccessPayment' | translate | async }}
          </div>
          } @if (order.outcome.seller_message === 'PAYMENT_ON_DELIVERY') {
          <div class="pay-success">
            {{ 'SuccessOrder' | translate | async }}
          </div>
          } }
        </div>
        }
      </div>
    </div>

    }
  </div>
</div>
