:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .main {
    min-height: 100vh;
  }

  .home {
    &-primary-header {
      color: var(--primary-color);
      background: #ffffff;
      position: relative;
      box-shadow: 1px 0px 2px rgb(0 0 0 / 10%);
    }

    &-primary-container {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-product-top {
      min-width: 100%;
      width: 100%;
      display: flex;

      &-content {
        padding: 0 30px;
        margin: auto;
      }
    }

    &-promo {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      background: #eee;
      color: #222;
      z-index: 2;
      text-align: center;

      &-basic {
        display: var(--promo, none)
      }

      &-shipping {
        display: var(--free-shipping-promo, none);
      }
    }

    &-promo-slide {
      min-height: 200px;
      width: 100%;
      min-width: 100%;
      z-index: 0;
      position: relative;

      &-background {
        background: var(--promo-slide-background, url('https://res.cloudinary.com/dnpgh1vhi/image/upload/v1615624628/fabrizio-conti-xPFhK0MGsyw-unsplash_tkxjzp.jpg'));
        background-size: cover;
        background-repeat: no-repeat;
        background-position:  var(--promo-slide-background-position, center);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
      }

      &-cta {
        position: relative;
        margin: 0 auto auto auto;
        padding: 15px 0 15px 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;

        img {
          max-width: 180px;
          padding: 15px 0;
        }

        a {
          cursor: pointer;
          font-size: 22px;
          font-weight: 600;
        }
      }

      &-subtitle {
        font-size: 50px;
        color: var(--primary-color);
        margin-bottom: 15px;
        margin-top: 12px;
      }

      &-text {
        padding: 10px;
        margin-top: 40px;
        display: block;

        a {
          color: var(--primary-color);
        }
      }

      &-logo {
        background: var(--logo, url('https://res.cloudinary.com/dnpgh1vhi/image/upload/v1615640124/logo1_gvrmpd.svg'));
        min-width: 180px;
        min-height: 80px;
        background-repeat: no-repeat;
        background-size: 180px;
        position: relative;
        background-position: center;
      }
    }


    &-product {
      background: #fff;
      position: relative;
    }

    &-title {
      font-weight: 500;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 1.2em;
      line-height: 1.2em;
      text-transform: capitalize;
    }

    &-categories-links-wrap {
      position: relative;
      overflow: hidden;
      display: flex;

      &:before, &:after {
        content: '';
        height: 100%;
        width: 50px;
        display: flex;
      }
    }

    &-categories-links {
      margin: auto;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
    }

    &-title-category {
      font-weight: 500;
      margin: 0;
      padding: 0 10px;
      text-align: center;
      font-size: 1.2em;
      line-height: 1.2em;
      text-transform: capitalize;
      color: #333;
    }

    &-spinner {
      margin: auto;
    }

    &-sidebar-toggle {
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
      }
    }

    &-sidebar-desktop {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    &-mobile-filter {
      color: var(--primary-color);
      position: absolute;
      display: flex;
      cursor: pointer;
      left: 15px;
    }

    &-sidebar {
      padding: 0 10px;
    }
  }
}
