:host {
  display: block;

  .sign-form-wrap {
    margin: 25px auto;
    max-width: 500px;

    h1 {
      margin-bottom: 40px;
    }
  }

  .submit-order-button {
    margin-top: 25px;
    width: 100%;
  }

  input:focus + label {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  input {
    &.ng-valid + label {
      -webkit-transform: translateY(-14px) scale(0.8);
      transform: translateY(-14px) scale(0.8);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }
}
