<div class="main">
  <div class="container">
    <div class="contact-form-wrap">
      <h1 class="contact-title">{{ 'Contact' | translate | async }}</h1>
      <form class="contact-form" [formGroup]="contactForm">
        <mat-form-field class="contact-field">
          <mat-label> {{ 'Firstname' | translate | async }} {{ 'and' | translate | async }} {{ 'Surname' | translate | async }} </mat-label>
          <input matInput formControlName="name" type="text" name="contantName" />
        </mat-form-field>
        <mat-form-field class="contact-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" name="email" />
        </mat-form-field>
        <mat-form-field class="contact-field">
          <mat-label>{{ 'Notes' | translate | async }}</mat-label>
          <textarea matInput formControlName="notes" name="notes"> </textarea>
        </mat-form-field>
        <button type="submit" class="submit-contact-button" mat-raised-button color="primary" [disabled]="contactForm.invalid" (click)="submit()">
          {{ 'SendContact' | translate | async }}
        </button>
        @if ((loading$ | async)) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
      </form>
      @if ((sendRequestSub$ | async)) {
      <div>
        @if ((error$ | async); as error) {
        <span class="contact-error">
          {{ error | translate | async }}
        </span>
        } @if (!(error$ | async)) {
        <span class="contact-success">
          {{ 'CONTACT_SEND_SUCCESS' | translate | async }}
        </span>
        }
      </div>
      }
    </div>
  </div>
</div>
