<div class="slider-container" #slideContainer>
  <button class="slider-arrow" *ngIf="showArrowsSub$ | async"
     mat-raised-button 
    (click)="onClickLeft()">
    <i class="nav-cart-icon material-icons md-18">keyboard_arrow_left</i>
  </button>
  <div class="slides" #slides>
    <ng-content></ng-content>
  </div>
  <button class="slider-arrow" *ngIf="showArrowsSub$ | async"
     mat-raised-button
    (click)="onClickRight()">
    <i class="nav-cart-icon material-icons md-24">keyboard_arrow_right</i>
  </button>
</div>
