:host {
  width: 100%;
  position: relative;

  .slider-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items:  center;
    border-radius: 3px;

    &.slider-with-background {
      background: #fdfdfd;
    }
  }

  ::ng-deep .mat-raised-button.slider-arrow  {
    max-width: 40px;
    min-width: 40px;
    padding: 10px;
    min-height: 100px;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}
