<div class="sidebar">
  <div class="sidebar-header sidebar-header-top">
    <h3 class="sidebar-title">{{ 'Categories' | translate | async }}</h3>
  </div>
  <a class="sidebar-item" [routerLink]="['/' + lang + '/product/all']" [class.active]="!activeCategory">
    {{ 'All' | translate | async }} {{ 'products' | translate | async }}
  </a>
  @for (category of categories; track trackById($index, category)) {
    @if (!category.menuHidden) {
  <a
    class="sidebar-item"
    (click)="changeCategory.emit(category.titleUrl)"
    [routerLink]="['/' + lang + '/product/category/' + category.titleUrl]"
    [class.active]="activeCategory == category.titleUrl"
  >
    {{ category.title }}
  </a>
  }
}
  <div class="sidebar-sort-wrap">
    <div class="sidebar-header">
      <h3 class="sidebar-title">{{ 'Sorting' | translate | async }}</h3>
    </div>
    <mat-form-field class="sidebar-select">
      <mat-select aria-label="Sort" [ngModel]="choosenSort || 'newest'" (ngModelChange)="onInputChange($event)">
        @for (option of sortOptions; track option) {
        <mat-option [value]="option.id">
          {{ option.name | translate | async }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="sidebar-header">
    <h3 class="sidebar-title">{{ 'PriceRange' | translate | async }}</h3>
  </div>
  <mat-slider aria-label="Range" class="sidebar-range" [max]="maxPrice" [min]="minPrice">
    <input matSliderThumb [(ngModel)]="maxPrice < price ? maxPrice : price" (change)="onChangePrice(maxPrice < price ? maxPrice : price)" />
  </mat-slider>
  {{ 'Price' | translate | async }} {{ 'to' | translate | async }}: {{ price | priceFormat }} {{ currency }}
</div>
