<div class="collection">
    <div class="collection-header collection-header-top">
        <h4>{{ 'Categories' | translate | async }}</h4>
    </div>
    <a
        [routerLink]="[productsUrl]"
        class="collection-item"
        [class.active]="!activeCategory">
        {{ 'All' | translate | async }} {{ 'products' | translate | async }}
    </a>
    <a
        *ngFor="let category of categories"
        (click)="changeCategory.emit(category.titleUrl)"
        [routerLink]="[categoryUrl + '/' + category.titleUrl]"
        class="collection-item"
        [class.active]="activeCategory == (category.titleUrl)">
        {{category.title}}
    </a>
    <div class="sort-wrap">
        <div class="collection-header">
            <h4>{{ 'Sorting' | translate | async }}</h4>
        </div>
        <mat-form-field class="collection-select">
          <mat-select  aria-label="Sort"
            [ngModel]="choosenSort || 'newest'"
            (ngModelChange)="onInputChange($event)">
            <mat-option  *ngFor="let option of sortOptions;" [value]="option.id">
              {{ option.name | translate | async }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="collection-header">
        <h4>{{ 'PriceRange' | translate | async }}</h4>
    </div>
    <mat-slider
      #ref
      aria-label="Range"
      class="collection-range"
      [max]="maxPrice"
      [min]="minPrice"
      (change)="changePrice.emit(ref.value)"
      [(ngModel)]="(maxPrice < price) ? maxPrice : price">
    </mat-slider>
    {{ 'Price' | translate | async }} {{ 'to' | translate | async }}: {{ (ref.value * (convertVal || 1)) | priceFormat }}{{ currency }}
</div>
