:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .product {
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    &-images {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    &-images-content {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 800px) {
        flex: 50%;
        max-width: 50%;
      }

      @media screen and (max-width: 600px) {
        flex: 100%;
        max-width: 100%;
      }
    }

    &-images-image {
      margin-top: 8px;
      display: block;
      max-width: 100%;
    }
  }
}
