<div class="main">
  <div class="container">
    <button
      (click)="goBack()"
      mat-raised-button
      color="primary">
      <i class="material-icons left">arrow_back</i>
      {{ 'Back' | translate | async }}
    </button>
    <mat-progress-bar
      *ngIf="!(items$ | async)?.product || (productLoading$ | async)"
      mode="indeterminate">
    </mat-progress-bar>
    <ng-container *ngIf="(items$ | async) as items">
      <mat-card
        class="product"
        *ngIf="!(productLoading$ | async) && items.product as product">
        <ng-container *ngIf="product.visibility && product.salePrice">
          <app-product-content
            [product]="product"
            [cartIds]="items?.cartIds"
            [currency]="currency$ | async"
            [convertVal]="convertVal$ | async"
            [lang]="lang$ | async"
            (addProduct)="cartEvent($event, 'add')"
            (removeProduct)="cartEvent($event, 'remove')">
          </app-product-content>
          <mat-tab-group>
            <mat-tab label="{{ 'Description' | translate | async }}">
              <mat-card-content class="product-tab-content">
                <div [innerHTML]="product?.descriptionFull"></div>
              </mat-card-content>
            </mat-tab>
            <mat-tab label="{{ 'Images' | translate | async }}">
              <mat-card-content class="product-tab-content">
                <div class="product-images">
                  <div class="product-images-content"
                    *ngFor="let imageSrc of product?.images; let i = index; let f = first; let l = last;"
                    (click)="openDialog(i, product?.images)">
                    <img class="product-images-image"
                      [lazySrc]="imageSrc"
                      lazySrcVisible="visible">
                  </div>
                </div>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
        </ng-container>
      </mat-card>
    </ng-container>
  </div>
</div>
