<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bluetooth Eshop</h5>
        <p class="grey-text text-lighten-4">Connecting without cables </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/' + lang + '/eshop/vop']"> VOP</a></li>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/' + lang + '/eshop/gdpr']"> GDPR</a></li>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/' + lang + '/eshop/contact']"> CONTACT</a></li>
          <li><a class="grey-text text-lighten-3" [routerLink]="['/' + lang + '/eshop/info']"> ABOUT US</a></li>
          <li><a class="grey-text text-lighten-3" href="https://angular-un-ngrx-node-eshop.herokuapp.com">Heroku link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © {{currentYear}}
      <a class="grey-text text-lighten-4 right" href="https://github.com/pararell/angular-universal-node.js-mongodb-eshop">More on github</a>
    </div>
  </div>
</footer>
