::ng-deep .mat-option .nav-autocomplete-link {
  color: rgba(0, 0, 0, 0.87) !important;
}

::ng-deep .mat-menu-item .nav-link {
  color: rgba(0, 0, 0, 0.87) !important;
}

:host {
  display: block;

  ::ng-deep .mat-input-element {
    padding: 2px 5px !important;
    font-size: 16px !important;
    color: var(--primary-color);
  }

  ::ng-deep .mat-form-field .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field.focus-active .mat-form-field-underline {
    display: block;
  }

  .nav {
    padding: 0 15px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: var(--theme-primary-contrast-500, rgba(255,255,255,0.8));
    justify-content: space-between;
    z-index: 5;
    position: relative;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);

    a {
      color: var(--primary-color);
    }

    &-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-brand-logo {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-part-right {
      display: flex;
      align-items: center;
    }

    &-search-form {
      margin-right: 25px;
      max-height: 50px;
      align-items: center;
      display: flex;
      flex: 1;
      color: var(--primary-color);

      &-content {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        max-width: 100px;
      }
    }

    &-active-link {
      background: rgba(0,0,0,0.1);
    }

    &-basic {
      display: flex;
      align-items: center;
      flex: 1;
    }

    &-cart-wrap {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-right: 5px;
      padding: 0 5px;
    }

    &-cart-icon {
      margin: 0 5px;
    }

    &-desktop {
      display: flex;
      flex: 1;

      ::ng-deep button.mat-menu-item {
        width: initial !important;

        a {
          color: var(--primary-color) !important;
        }

        .mat-icon {
          color: var(--primary-color) !important;
          margin-right: 5px !important;
        }
      }
    }

    &-mobile {
      display: none;
    }

    @media screen and (max-width: 1200px) {
      padding: 0;

      .nav-desktop {
        display: none;
      }

      .nav-mobile {
        display: block;
        flex: 1;
        color: var(--primary-color);
      }
    }
  }

  select.nav-lang-select {
    background: var(--primary-color);
    border: none;
    color: var(--theme-primary-contrast-A700);
  }
}
