<mat-toolbar class="main-nav-header navbar-fixed" color="primary">
  <div class="brand-logo">
    <a href="/">Bluetooth eshop</a>
  </div>
  <div class="nav-part-right">
    <div class="fake-form">
      <mat-form-field class="fake-form-content"
        [ngClass]="{'focus-active' : (showAutocomplete$ | async)}">
        <i class="material-icons md-18">search</i>
        <input type="text"
               aria-label="Search"
               matInput
               [formControl]="query"
               (focus)="onFocus()"
               (blur)="onBlur()"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let title of (productTitles$ | async)" [value]="title">
            <a class="nav-autocomplete-link"
              (click)="onTitleLink(title)"
              [routerLink]="[productUrl + '/' + title]">{{title}}
            </a>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <ng-container *ngIf="(cart$ | async) as cart">
      <a class="cart-wrap" [routerLink]="[cartUrl]">
        <span>{{ cart?.totalQty }}</span>
        <i class="material-icons cart-icon md-18">shopping_cart</i>
      </a>
    </ng-container>
    <select class="browser-default lang-select" aria-label="Language"
      [ngModel]="(lang$ | async)"
      (ngModelChange)="setLang($event)">
      <option *ngFor="let option of languageOptions;" [value]="option">{{option}}</option>
    </select>
    <button class="mobile-nav" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </mat-menu>
    <div class="desktop-nav">
      <ng-container *ngTemplateOutlet="menuItems"></ng-container>
    </div>
  </div>
</mat-toolbar>


<ng-template #menuItems>
  <ng-container *ngIf="!(user$ | async)">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <a href="{{googleAuthUrl}}">{{ 'Login' | translate | async }} {{ 'with' | translate | async }} Google</a>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <a [routerLink]="[signInUrl]">{{ 'Login' | translate | async }}</a>
    </button>
  </ng-container>
  <button mat-menu-item *ngIf="(user$ | async)?.roles?.includes('admin')">
    <mat-icon>dashboard</mat-icon>
    <a [routerLink]="['/' + translate.lang + '/dashboard']"> Dashboard</a>
  </button>
  <button mat-menu-item *ngIf="(userOrders$ | async)?.length">
    <mat-icon>assignment</mat-icon>
    <a [routerLink]="[ordersUrl]"> {{'Orders' | translate | async}}</a>
  </button>
  <button mat-menu-item *ngIf="(user$ | async)">
    <mat-icon>exit_to_app</mat-icon>
    <a (click)="onLogout()"> {{'Logout' | translate | async}}</a>
  </button>
</ng-template>
