::ng-deep .mat-mdc-option .nav-autocomplete-link {
  color: rgba(0, 0, 0, 0.87) !important;
}

::ng-deep .mat-mdc-menu-item .nav-link {
  color: rgba(0, 0, 0, 0.87) !important;
}

:host {
  display: block;

  ::ng-deep .mat-mdc-input-element {
    padding: 2px 5px !important;
    font-size: 16px !important;
    color: var(--primary-color);
  }

  ::ng-deep .mat-mdc-form-field-infix {
    padding-top: 24px !important;
    padding-bottom: 8px !important;
  }

  .nav {
    padding: 0 15px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: rgba(255,255,255,0.8);
    justify-content: space-between;
    z-index: 5;
    position: relative;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);

    a {
      color: var(--primary-color);
    }

    &-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-brand-logo {
      // text-overflow: ellipsis;
      // overflow: hidden;
      // white-space: nowrap;
      position: relative;
      background: var(--logo, url('https://res.cloudinary.com/dnpgh1vhi/image/upload/v1615640124/logo1_gvrmpd.svg'));
      background-repeat: no-repeat;
      background-position: center;
      background-size: 85px;
      min-height: 100%;

      a {
        position: relative;
        display: flex;
        min-width: 85px;
        min-height: 50px;
      }

      img {
        min-width: 130px;
        display: block;
        position: relative;

        @media screen and (max-width: 600px) {
          min-width: 70px;
        }
      }
    }

    &-part-right {
      display: flex;
      align-items: center;
    }

    &-search-form {
      margin-right: 25px;
      max-height: 50px;
      align-items: center;
      display: flex;
      flex: 1;
      color: var(--primary-color);

      &-content {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        max-width: 100px;
      }
    }

    &-active-link {
      background: rgba(0,0,0,0.1);
    }

    &-basic {
      display: flex;
      align-items: center;
    }

    &-cart-wrap {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-right: 5px;
      padding: 0 5px;
    }

    &-cart-icon {
      margin: 0 5px;
    }

    &-desktop {
      display: flex;
      flex: 1;

      ::ng-deep button.mat-mdc-menu-item {
        width: initial !important;

        a {
          color: var(--primary-color) !important;
          white-space: nowrap;
          font-size: 14px;
        }

        .mat-icon {
          color: var(--primary-color) !important;
          margin-right: 5px !important;
        }
      }
    }

    &-mobile {
      display: none;
    }

    @media screen and (max-width: 1200px) {
      padding: 0 10px;

      .nav-desktop {
        display: none;
      }

      .nav-mobile {
        display: block;
        flex: 1;
        color: var(--primary-color);
      }
    }
  }

  select.nav-lang-select {
    background: var(--primary-color);
    border: none;
    color: #ffffff;
  }
}
