@if (!sendRequest && (choosenLanguageSub$ | async); as chooseLang) {

<div class="product_edit-title-wrapp">
  <h2>{{ action | uppercase }} {{ 'Product' | translate | async }}</h2>
  <div>
    <mat-form-field class="browser-default lang-select">
      <mat-label>
        {{ 'Language_for_product_detail' | translate | async }}
      </mat-label>
      <mat-select [ngModel]="chooseLang" (ngModelChange)="setLang($event)">
        @for (option of languageOptions; track option) {
        <mat-option [value]="option">
          {{ option }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
<form class="product_edit-form" [formGroup]="productEditForm" novalidate>
  <div class="product_edit-full-input">
    @if ((!titles || !titles.length) || action === 'add') {
    <mat-form-field class="product_edit-field">
      <mat-label>Title Url</mat-label>
      <input matInput formControlName="titleUrl" type="text" name="titleUrl" (change)="formatTitleUrl($event)" />
    </mat-form-field>
    } @if ((titles && titles.length) && action !== 'add') {
    <mat-form-field class="product_edit-field">
      <input matInput placeholder="TitleUrl" aria-label="TitleUrl" [matAutocomplete]="auto" formControlName="titleUrl" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="findProduct()">
        @for (title of (filteredTitles$ | async); track title) {
        <mat-option [value]="title">
          <span>{{ title }}</span>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    } @if (action === 'edit') {
    <button mat-raised-button color="primary" class="edit-find-button" (click)="findProduct()">
      {{ 'Find' | translate | async }}
    </button>
    }
  </div>
  @if ((action === 'add') || (action === 'edit' && !!(product$ | async))) {

  <h3 class="product_edit-subtitle">Content (for chosen language/market)</h3>
  <div [formGroupName]="chooseLang">
    <div class="product_edit-full-input">
      <mat-form-field class="product_edit-field-small">
        <mat-label>{{ 'Title' | translate | async }}</mat-label>
        <input matInput formControlName="title" type="text" name="title" />
      </mat-form-field>
      <mat-form-field class="product_edit-field-small">
        <mat-label>{{ 'Sale_price' | translate | async }}</mat-label>
        <input matInput formControlName="salePrice" name="salePrice" />
      </mat-form-field>
      <mat-form-field class="product_edit-field-small">
        <mat-label>
          {{ 'Regular_price' | translate | async }}
        </mat-label>
        <input matInput formControlName="regularPrice" name="regularPrice" />
      </mat-form-field>
    </div>
    <div class="product_edit-full-input">
      <mat-form-field class="product_edit-field">
        <mat-label>
          {{ 'Short_description' | translate | async }}
        </mat-label>
        <textarea matInput formControlName="description" name="description"> </textarea>
      </mat-form-field>
    </div>
    <div class="product_edit-full-input">
      <div class="product_edit-field-small">
        <div class="check-title">{{ 'Visibility' | translate | async }}</div>
        <mat-radio-group aria-label="Visibility" formControlName="visibility">
          <mat-radio-button name="visibility" [value]="true" id="visible">
            {{ 'Visible' | translate | async }}
          </mat-radio-button>
          <mat-radio-button name="visibility" [value]="false" id="hidden">
            {{ 'Hidden' | translate | async }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="product_edit-field-small">
        <div class="check-title">{{ 'On_stock' | translate | async }}</div>
        <mat-radio-group aria-label="onStock" formControlName="stock">
          <mat-radio-button value="onStock" name="stock" id="onStock">
            {{ 'On_stock' | translate | async }}
          </mat-radio-button>
          <mat-radio-button value="onWaitings" name="stock" id="onWaitings">
            {{ 'Available_in_few_weeks' | translate | async }}
          </mat-radio-button>
          <mat-radio-button value="unavailable" name="stock" id="unavailable">
            {{ 'Unavailable' | translate | async }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="product_edit-full-input">
      <div class="product_edit-field-small">
        <div class="check-title">{{ 'On_sale' | translate | async }}</div>
        <mat-radio-group aria-label="On Sale" formControlName="onSale">
          <mat-radio-button [value]="true" name="onSale" id="onSale">
            {{ 'On_sale' | translate | async }}
          </mat-radio-button>
          <mat-radio-button [value]="false" name="onSale" id="normal">
            {{ 'Normal' | translate | async }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="product_edit-field-small">
        <div class="check-title">{{ 'Shipping' | translate | async }}</div>
        <mat-radio-group aria-label="Shipping" formControlName="shipping">
          <mat-radio-button value="basic" name="shipping" id="basic">
            {{ 'Basic' | translate | async }}
          </mat-radio-button>
          <mat-radio-button value="extended" name="shipping" id="extended">
            {{ 'Extended' | translate | async }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="product_edit-full-input">
    <mat-form-field class="product_edit-field-small">
      <mat-label> Tags (for all languages/markets, it will create Category - manage in Categories) </mat-label>
      <input matInput [(ngModel)]="tag" [ngModelOptions]="{ standalone: true }" name="tag" [matAutocomplete]="autoTags" />
      <mat-autocomplete #autoTags="matAutocomplete">
        @for (category of (categories$ | async); track category) {
        <mat-option [value]="category.titleUrl">
          <span>{{ category.titleUrl }}</span>
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" class="edit-find-button" (click)="addTag()">Add Tag</button>
  </div>
  @if ((productEditForm.get('tags').value); as allTags) {
  <mat-chip-listbox class="product-tags">
    @if (allTags && allTags.length) { @for (tag of allTags; track tag) {
    <mat-chip-option class="clickable" (click)="removeTag(tag)">
      @if (tag) {
      <span>{{ tag }} x</span>
      }
    </mat-chip-option>
    } }
  </mat-chip-listbox>
  }
  <h3 class="product_edit-subtitle">Images (for all languages/markets)</h3>
  <div class="product_edit-full-input">
    <mat-form-field class="product_edit-field">
      <mat-label>
        {{ 'Main_image_url' | translate | async }}
      </mat-label>
      <input matInput formControlName="mainImage" name="mainImage" />
    </mat-form-field>
  </div>
  <h4 class="product_edit-infotitle">Upload Images from file or url</h4>

  <label for="file-upload" class="product_edit-add-images"> </label>
  <input class="file-field input-field" type="file" id="file-upload" (change)="onFileChanged($event)" />

  <div class="product_edit-full-input">
    <mat-form-field class="product_edit-field-small">
      <mat-label>Add Image Url</mat-label>
      <input matInput formControlName="imageUrl" name="imageUrl" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="edit-find-button" (click)="addImageUrl()">Add Image Url</button>
  </div>
  @if (testImageUrl) {
  <div class="images-wrapp">
    <div class="image-dash-wrap">
      <img [src]="testImageUrl" (load)="checkImageUrl()" />
    </div>
  </div>
  } @if (!!(images$ | async)?.length && action === 'add') {
  <div class="images-wrapp">
    @for (image of (images$ | async); track image) {
    <div class="image-dash-wrap">
      <img src="{{ image }}" />
      <div class="remove-image" (click)="onRemoveImage(image, 'image')">X</div>
    </div>
    }
  </div>
  } @if (!!(product$ | async)?.images?.length && action === 'edit') {
  <div class="images-wrapp">
    @for (image of (product$ | async)?.images; track image) {
    <div class="image-dash-wrap">
      <img src="{{ image }}" />
      <div class="remove-image" (click)="onRemoveImage(image, 'product')">X</div>
    </div>
    }
  </div>
  }
  <h3 class="product_edit-subtitle">Full Description (for chosen language/market)</h3>
  @if ((descriptionFullSub$ | async); as descriptionFull) {
  <app-tiny-editor [description]="descriptionFull[chooseLang]" (editorContentChange)="onEditorChange($event)"> </app-tiny-editor>
  }
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!productEditForm.valid">
    {{ 'Save' | translate | async }}
  </button>
  @if (action === 'edit') {
  <button class="product_edit-btn-remove" mat-raised-button color="primary" (click)="onRemoveSubmit()" [disabled]="!productEditForm.valid">
    {{ 'Remove' | translate | async }}
  </button>
  } }
</form>

} @if (sendRequest) {
<div class="product_edit-after-send">
  <span> {{ 'Request_sended' | translate | async }}</span>
  <button class="product_edit-btn-action" mat-raised-button color="primary" (click)="openForm()">
    {{ 'Again' | translate | async }}
  </button>
  @if (action === 'add') {
  <button class="product_edit-btn-action" mat-raised-button color="primary" (click)="changeTab.emit(2)">
    {{ 'Edit' | translate | async }}
  </button>
  }
</div>
}
