<div>
  <form #paymentForm (submit)="handleForm($event)" class="checkout">
    <label for="card-info">Card</label>
    <div id="form-field">
      <div id="card-info" #cardElement></div>
      <button
        class="card-button"
        [disabled]="(!!(cardErrorSub$ | async) && !loading) || loadingPayment"
        mat-raised-button
        color="primary"
        id="submit-button"
        type="submit"
      >
        {{ 'MakeOrder' | translate | async }} {{ 'and' | translate | async }} {{ 'Pay' | translate | async }} {{ price }} {{ currency }}
      </button>
      @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
      @if ((cardErrorSub$ | async); as cardError) {
      <div class="card-errors" id="card-errors" role="alert">
        @if (cardError !== 'INVALID') {
        <span>{{ cardError }}</span>
        }
      </div>
      }
    </div>
  </form>
</div>
