:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;

  .main {
    min-height: 100vh;
  }

  .products {
    &-primary-header {
      color: var(--primary-color);
      background: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      position: relative;
    }

    &-primary-container {
      padding: 10px;
    }

    &-title {
      font-weight: 500;
      margin: 0;
      padding: 0;
      color: var(--primary-color);
      text-align: center;
      font-size: 1.2em;
      line-height: 1.2em;
      text-transform: capitalize;
    }

    &-description {
      text-align: center;
      margin: 0;
      font-size: 14px;
      color: var(--primary-color);
      line-height: 16px;
    }

    &-spinner {
      margin: auto;
    }

    &-sidebar-toggle {
      display: none;

      @media screen and (max-width: 600px) {
        display: block;
      }
    }

    &-sidebar-desktop {
      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    &-mobile-filter {
      display: none;

      @media screen and (max-width: 600px) {
        color: var(--primary-color);
        position: absolute;
        display: flex;
        cursor: pointer;
      }
    }

    &-sidebar {
      padding: 0 10px;
    }
  }
}
