:host {
  display: flex;
  flex-wrap: wrap;

  .product_card {
    flex-basis: 21%;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: #fff;
    margin: 0.5rem 1.9% 1rem 1.9%;
    z-index: 1;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    @media (max-width: 1400px) {
      flex-basis: 31%;
      margin-right: 1%;
      margin-left: 1%;
    }

    @media (max-width: 1000px) {
      flex-basis: 48%;
      margin-right: 1%;
      margin-left: 1%;
    }

    @media (max-width: 650px) {
      flex-basis: 100%;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      padding: 15px 15px 5px 15px;
      align-items: flex-start;
      position: relative;
    }

    &-top-links {
      display: flex;
      flex-flow: column;
    }

    &-title {
      font-size: 18px;
      line-height: 20px;
      margin: 0 5px 0 0;
      font-weight: 500;
      padding: 0;
    }

    &-info {
      padding: 0 15px;
      margin-bottom: 15px;
      max-height: 78px;
      overflow: hidden;
    }

    &-description {
      margin: 0;
      font-size: 13px;
    }

    &-action {
      border-top: none;
      padding: 0;
    }

    &-image {
      background-repeat: no-repeat !important;
      background-position: center !important;
      min-height: 250px;
      background-size: contain !important;
      cursor: pointer;
      overflow: hidden;
      z-index: 0;
      display: block;
      transition: all 0.2s ease-in-out;
      border: none;
      outline: none;
    }

    &:hover {
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      .product_card-image {
        transform: scale(1.1);
        overflow: hidden;
      }
    }

    &-before-price {
      position: absolute;
      bottom: 35px;
      left: 0;
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      font-size: 14px;
      padding: 0 20px;
      background: #fff;
      z-index: 3;
      border-radius: 0 1px 0 0;
    }

    &-action-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--primary-color);
      padding: 5px 20px;
      position: relative;
      box-shadow: 0 0 40px -9px var(--primary-color);
      background: #fff;
      z-index: 2;
      overflow: visible;
    }

    &-stock {
      margin: 0;
    }

    &-price-info {
      font-weight: 500;
      font-size: 18px;
    }

    &-detail {
      font-size: 16px;
      color: var(--primary-color);
      margin-top: -5px;
      cursor: pointer;
    }
  }

  ::ng-deep .cart_show-icon {
    color: var(--primary-color) !important;
  }

  ::ng-deep .cart_show-quantity {
    color: var(--primary-color) !important;
  }
}
