<ng-container *ngFor="let product of products; trackBy: trackById;">
  <div class="product_card">
    <div>
      <div class="product_card-top">
          <h2> {{product?.title}} </h2>
          <a class="product_card-detail" routerLink="{{productUrl}}/{{product?.titleUrl}}">Detail</a>
      </div>
      <div class="product_card-info">
        <p>{{product?.description}}</p>
      </div>
    </div>
    <a class="product_card-image"
    routerLink="{{productUrl}}/{{product?.titleUrl}}" 
    [attr.aria-labelledby]="product?.titleUrl"
    lazySrc [lazyBackground]="'url(' + product.mainImage.url + ')'"  
    lazySrcVisible="visible">
    </a>
    <div class="product_card-action">
      <div class="product_card-action-wrap">
        <div class="product_card-price-info">{{ (product?.salePrice * (convertVal || 1)) | priceFormat }}{{ currency }}</div>
        <p>{{ product?.stock | translate | async }}</p>
        <app-cart-show
          [items]="cartIds[product?._id]"
          (add)="onAddProduct(product?._id)"
          (remove)="onRemoveProduct(product?._id)">
        </app-cart-show>
      </div>
    </div>
  </div>
</ng-container>
