<div class="translations_edit-wrapper">
  <form [formGroup]="languageForm">
    <div class="translations-subform">
      <div>
        <mat-form-field class="product_edit-field">
          <mat-label>Add key</mat-label>
          <input matInput formControlName="add" />
        </mat-form-field>
        <button class="translations-button" mat-flat-button color="accent" (click)="addKeyToTranslation()">+</button>
      </div>
      <div>
        <button class="translations-button" mat-raised-button color="primary" type="submit" [disabled]="languageForm.invalid" (click)="submitForm()">
          Save from inputs
        </button>
        <button class="translations-button" mat-raised-button color="primary" type="submit" [disabled]="languageForm.invalid" (click)="submitJSON()">
          Save from JSONS
        </button>
      </div>
    </div>
    <div class="translations-subform">
      @for (translation of (translationSub$ | async); track translation; let i = $index) {
      <div>
        <div [formGroup]="languageForm.controls[translation.lang]">
          <h1>{{ translation.lang }}</h1>

          @for (sentence of translation.keys | keyvalue; track sentence) {

          <div class="translation-sentence">
            @if (!i) {
            <button class="translations-button" (click)="removeTranslation(sentence.key)" mat-mini-fab color="accent">-</button>
            }
            <mat-form-field class="product_edit-field">
              <mat-label>{{ sentence.key }}</mat-label>
              <input matInput [formControlName]="sentence.key" />
            </mat-form-field>
          </div>

          }
        </div>
        <mat-form-field>
          <mat-label>{{ translation.lang }} JSON</mat-label>
          <textarea class="translation-textarea" matInput [formControlName]="translation.lang + '_json'"> </textarea>
        </mat-form-field>
        <br />
      </div>
      }
    </div>
  </form>
</div>
