<div class="main">

  <div class="container">

    <div class="translations_edit-wrapper">

        <mat-card class="card scale-transition" *ngFor="let translation of translations$ | async">
            <mat-card-actions class="card-action">
              <div class="action-wrap">
                <a (click)="showLanguageEdit(translation.lang)">{{ translation.lang }}</a>
              </div>
           </mat-card-actions>
          </mat-card>

    <div *ngIf="editLang">
        <form [formGroup]="languageForm">
            <textarea class="translation-textarea" rows="20" cols="60" name="lang" formControlName="lang"></textarea>
            <button mat-raised-button color="primary" type="submit"
            [disabled]="languageForm.invalid" (click)="submit()"> OK
          </button>
        </form>
    </div>

    </div>
  </div>
</div>
