<div class="product-content">
    <div class="product-detail">
      <h1 class="product-title">{{ product?.title }}</h1>
      <h2 class="product-description">{{ product?.description }}</h2>
      <div class="product-info">
        <div class="product-stock">
          {{ product?.stock | translate | async }}
        </div>
        <div
          class="product-price">
          <span>{{ product?.salePrice | priceFormat }} {{ currency }}</span>
          <span class="product-before-price" *ngIf="product.regularPrice">
            {{ product?.regularPrice | priceFormat }} {{ currency }}
          </span>
        </div>
        <button class="product-cart-wrap"
          *ngIf="lang"
          mat-raised-button
          color="primary">
          <app-cart-show *ngIf="cartIds && product"
            [items]="cartIds[product._id]"
            (add)="onAddProduct(product._id)"
            (remove)="onRemoveProduct(product._id)">
          </app-cart-show>
        </button>
      </div>
      <mat-chip-listbox class="product-tags">
        <mat-chip-option class="clickable"
          *ngFor="let tag of product.tags"
          [routerLink]="[ '/' + lang + '/product/category/' + tag]">
          {{ categoriesToShow[tag] || tag }}
        </mat-chip-option>
      </mat-chip-listbox>
      <a class="product-more" *ngIf="withLink" [routerLink]="[ '/' + lang + '/product/' + product.titleUrl]">
        {{ "More" | translate | async }}
      </a>
    </div>
    <div class="product-main-image"
        [attr.aria-labelledby]="product.mainImage.name"
        lazySrc
        [lazyBackground]="'url(' + product?.mainImage?.url + ') no-repeat'"
        lazySrcVisible="visible">
    </div>
  </div>
