<div class="main">
  <div class="container">
    <div class="sign-form-wrap">
      <h1>SignIn</h1>
            <form [formGroup]="signInForm">
                <div class="full-input input-field">
                    <input class="form-control validate"
                      id="email"
                      type="email"
                      name="email" formControlName="email">
                    <label for="contantName"> Email</label>
                </div>
                <div class="full-input input-field">
                    <input class="form-control validate" 
                      type="text" name="password" formControlName="password">
                    <label for="email">Password</label>
                </div>

                <button type="submit" class="btn waves-effect waves-light submit-contact-button" [disabled]="signInForm.invalid"
                  (click)="submit()"> {{ 'SignIn' | translate | async }} </button>
            </form>
    </div>
    <a routerLink="/{{lang}}/authorize/signup" class="waves-effect waves-light btn-large">SignUp</a>
  </div>
</div>
