<app-carousel [intervalForSlider]="15000" *ngIf="withSlider">
  <ng-container *ngTemplateOutlet="categoriesTemplate"></ng-container>
</app-carousel>

<div class="categories-list" *ngIf="!withSlider">
  <ng-container *ngTemplateOutlet="categoriesTemplate"></ng-container>
</div>


<ng-template #categoriesTemplate>
  <ng-container *ngFor="let category of categories; trackBy: trackById">
    <div class="category_card" *ngIf="!category.menuHidden">
      <a class="category_card-image"
        [ngClass]="category.mainImage?.type ? 'category_card-image-cover' : ''"
        [routerLink]="['/' + lang + '/product/category/' + category.titleUrl]"
        [attr.aria-labelledby]="category.titleUrl"
        lazySrc
        [lazyBackground]="'url(' + category.mainImage?.url + ')'"
        lazySrcVisible="visible">
        <span class="category_card-overlay">
          <span class="category_card-info">
            <h2 class="category_card-title">{{ category?.title }}</h2>
            <p class="category_card-description" *ngIf="category?.description">
              {{ category?.description }}
            </p>
          </span>
        </span>
      </a>
    </div>
  </ng-container>
</ng-template>
