<app-carousel>
    <ng-container *ngFor="let category of categories; trackBy: trackById;">
      <div class="category_card">
        <a class="category_card-image"
          [routerLink]="[ '/' + lang + '/product/category/' + category.titleUrl]"
          [attr.aria-labelledby]="category.titleUrl"
          lazySrc [lazyBackground]="'url(' + category.imageUrl + ')'"
          lazySrcVisible="visible">
          <span class="category_card-overlay">
            <h2 class="category_card-title"> {{category?.title}} </h2>
          </span>
        </a>
      </div>
    </ng-container>
</app-carousel>
