<div class="main">

  <div class="container">
    <h2>Dashboard</h2>
    <button class="orders-button"
      routerLink="/{{lang}}/dashboard/orders" 
      mat-raised-button color="primary" 
      aria-label="Orders">
      Orders
    </button>
    <button class="orders-button"
    routerLink="/{{lang}}/dashboard/translations" 
    mat-raised-button color="primary" 
    aria-label="Translations">
      Translations
    </button>
    <div class="product-actions-wrap">
      <div class="product-actions">
        <button (click)="changeAction('add')" mat-raised-button color="primary" aria-label="Add product">
          <i class="material-icons">mode_edit</i> Add product
        </button>
      </div>

      <div class="product-actions">
        <button (click)="changeAction('edit')" mat-raised-button color="primary" aria-label="Edit product">
          <i class="material-icons">mode_edit</i> Edit product
        </button>
      </div>

      <div class="product-actions">
        <button (click)="changeAction('remove')" mat-raised-button color="primary" aria-label="Remove product">
          <i class="material-icons">clear</i> Remove product
        </button>
      </div>
    </div>

    <app-products-edit *ngIf="productAction === 'add'" [action]="'add'"></app-products-edit>
    <app-products-edit *ngIf="productAction === 'edit'" [action]="'edit'"></app-products-edit>
    <app-products-edit *ngIf="productAction === 'remove'"  [action]="'remove'"></app-products-edit>

  </div>

</div>
