<div class="main">
  <div class="container">
    <div class="dashboard-container">
      <div class="orders-menu">
        <h1>Dashboard</h1>
        <button
          class="orders-button"
          routerLink="/{{lang}}/dashboard/orders"
          mat-raised-button
          color="primary"
          aria-label="Orders">
          Orders
        </button>
      </div>
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="All products">
          <div class="dashboard-tab-content">
            <app-all-products></app-all-products>
          </div>
        </mat-tab>
        <mat-tab label="Add product">
          <ng-template matTabContent>
            <div class="dashboard-tab-content">
              <app-products-edit
                [action]="'add'">
              </app-products-edit>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Edit product">
          <ng-template matTabContent>
            <div class="dashboard-tab-content">
              <app-products-edit
                [action]="'edit'">
              </app-products-edit>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Remove product">
          <ng-template matTabContent>
            <div class="dashboard-tab-content">
              <app-products-edit
                [action]="'remove'">
              </app-products-edit>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Translations">
          <ng-template matTabContent>
            <div class="dashboard-tab-content">
              <app-translations-edit>
              </app-translations-edit>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Pages">
          <ng-template matTabContent>
            <div class="dashboard-tab-content">
              <app-pages-edit>
              </app-pages-edit>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
