@import 'variables';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .orders-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orders-button {
    margin: 10px;
  }

  .dashboard-title {
    margin: 0;
    background: $primary-color;
    color: #fff;
    padding: 0 5px;
  }

  .dashboard-tab-content {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }
}
