:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .orders-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orders-button {
    margin: 10px;
  }

  .dashboard-title {
    margin: 0;
    color: var(--primary-color);
    padding: 0 5px;
    position: relative;
  }

  .dashboard-tab-content {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    max-width: 1000px;
    margin: auto;
  }
}
