<div class="main">

    <div class="top-primary-header">
        <div class="container">
            <h1 *ngIf="!(category$ | async)">
                Bluetooth {{ 'headphones' | translate | async }}
            </h1>
            <h1 *ngIf="(category$ | async) as category">{{category}}</h1>
        </div>
    </div>
    <div class="container">

        <div
            class="progress"
            *ngIf="!(items$ | async)?.products">
            <div class="indeterminate"></div>
        </div>

        <div
            class="wrapper"
            *ngIf="(items$ | async) as items">
            <div class="sidebar-wrap">
                <app-sidebar
                    [class.disabled]="loadingProducts$ | async"
                    [categories]="categories$ | async"
                    [price]="filterPrice$ | async"
                    [minPrice]="items?.maxPrice"
                    [maxPrice]="items?.minPrice"
                    [activeCategory]="category$ | async"
                    [sortOptions]="sortOptions"
                    [convertVal]="convertVal$ | async"
                    [currency]="currency$ | async"
                    [choosenSort]="sortBy$ | async"
                    (changePrice)="priceRange($event)"
                    (changeSort)="changeSort($event)"
                    (changeCategory)="changeCategory($event)">
                </app-sidebar>
            </div>
            <div class="main-wrap">
                <app-products-list
                    [class.disabled]="loadingProducts$ | async"
                    [products]="items?.products"
                    [cartIds]="items?.cartIds"
                    [convertVal]="convertVal$ | async"
                    [currency]="currency$ | async"
                    (addProduct)="addToCart($event)"
                    (removeProduct)="removeFromCart($event)">
                </app-products-list>

                <app-pagination
                    [class.disabled]="loadingProducts$ | async"
                    *ngIf="!(category$ | async) && (pagination$ | async) as pagination"
                    [pagination]="pagination"
                    [page]="page$ | async"
                    (changePage)="changePage($event)">
                </app-pagination>

                <app-pagination
                    [class.disabled]="loadingProducts$ | async"
                    *ngIf="(category$ | async) as category"
                    [pagination]="(paginationCategories$ | async)?.category"
                    [page]="page$ | async"
                    [category]="category"
                    (changePage)="changePage($event)">
                </app-pagination>

            </div>
        </div>

    </div>
</div>
