<mat-drawer-container class="products-sidebar-container" autosize hasBackdrop >
  <mat-drawer #sideBar [(opened)]="sidebarOpened"  class="products-sidebar" mode="over">
      <app-sidebar
        [class.disabled]="loadingProducts$ | async"
        [categories]="categories$ | async"
        [price]="filterPrice$ | async"
        [maxPrice]="maxPrice$ | async"
        [minPrice]="minPrice$ | async"
        [activeCategory]="category$ | async"
        [sortOptions]="sortOptions"
        [convertVal]="convertVal$ | async"
        [currency]="currency$ | async"
        [lang]="lang$ | async"
        [choosenSort]="sortBy$ | async"
        (changePrice)="priceRange($event)"
        (changeSort)="changeSort($event)"
        (changeCategory)="changeCategory()">
      </app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
  <div class="main">
    <div class="products-primary-header">
      <div class="container">
        <div class="products-mobile-filter" (click)="toggleSidebar()">
          <i class="material-icons md-16">filter_list</i>
          <span>{{ 'Filter' | translate | async }}</span>
        </div>
        <h1 class="products-title" *ngIf="(category$ | async) as category">{{category}}</h1>
      </div>
    </div>
    <div class="container products-content">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!(items$ | async)?.products"></mat-progress-bar>
      <div class="sidebar-layout"
        *ngIf="(items$ | async) as items">
        <div class="sidebar-wrap">
          <app-sidebar class="products-sidebar-desktop"
            [class.disabled]="loadingProducts$ | async"
            [categories]="categories$ | async"
            [price]="filterPrice$ | async"
            [maxPrice]="maxPrice$ | async"
            [minPrice]="minPrice$ | async"
            [activeCategory]="category$ | async"
            [sortOptions]="sortOptions"
            [convertVal]="convertVal$ | async"
            [currency]="currency$ | async"
            [lang]="lang$ | async"
            [choosenSort]="sortBy$ | async"
            (changePrice)="priceRange($event)"
            (changeSort)="changeSort($event)"
            (changeCategory)="changeCategory()">
          </app-sidebar>
        </div>
        <div class="main-wrap">
          <app-products-list
            [class.disabled]="loadingProducts$ | async"
            [products]="items?.products"
            [cartIds]="items?.cartIds"
            [convertVal]="convertVal$ | async"
            [currency]="currency$ | async"
            [lang]="lang$ | async"
            (addProduct)="addToCart($event)"
            (removeProduct)="removeFromCart($event)">
          </app-products-list>

          <app-pagination
            [class.disabled]="loadingProducts$ | async"
            *ngIf="(pagination$ | async) as pagination"
            [pagination]="pagination"
            (changePage)="changePage($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-content>
</mat-drawer-container>
