@for (imageSrc of data.images; track imageSrc; let i = $index; let f = $first; let l = $last) {
  @if (openImages[i]) {
<div class="product-modal">
  @if (!f && openImages[i]) {
  <button class="prev-btn" mat-raised-button color="primary" (click)="prevImg($event, i)">
    <i class="material-icons left">arrow_back</i>
    {{ 'Prev' | translate | async }}
  </button>
  } @if (!l && openImages[i]) {
  <button class="next-btn" mat-raised-button color="primary" (click)="nextImg($event, i)">
    <i class="material-icons right">arrow_forward</i>
    {{ 'Next' | translate | async }}
  </button>
  }
  <img (click)="onCloseImage()" [src]="imageSrc" />
</div>
 }
}
