:host {
  display: flex;
  align-items: center;

  .cart_show {
    &-wrap {
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }

    &-icon {
      cursor: pointer;
      color: var(--theme-primary-contrast-500, rgba(255,255,255,0.8));
      font-size: 25px;
    }

    &-quantity {
      color: var(--theme-primary-contrast-500, rgba(255,255,255,0.8));
      line-height: 15px;
    }
  }
}
