<div class="main">
  <div class="container">

  <div (click)="goBack()">
    <a class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>{{ 'Back' | translate | async }}</a>
  </div>

<ng-container *ngIf="lang === 'sk'">
    <p><strong>Podmienky ochrany osobných údajov</strong></p>
    <p> </p>
    <p><strong>I.</strong></p>
    <p><strong>Základní ustanovení</strong></p>
    <ol>
    <li>Prevádzkovateľom osobných údajov podľa § 5 písm. o) zákona č. 18/2018 Z.z. o ochrane osobných údajov v znení neskorších predpisov (ďalej len „<strong>Zákon</strong>“) je ……. IČO ……so sídlom….. (ďalej len: „<strong>prevádzkovateľ</strong>“).</li>
    <li>Kontaktné údaje prevádzkovateľa sú</li>
    </ol>
    <p> </p>
    <p> </p>
    <p> </p>
    <ol start="3">
    <li>Osobnými údajmi sa rozumejú všetky informácie o identifikovanej alebo identifikovateľnej fyzickej osobe; identifikovateľnou fyzickou osobou je fyzická osoba, ktorú možno priamo či nepriamo identifikovať, najmä odkazom na určitý identifikátor, napríklad meno, identifikačné číslo, lokalizačné údaje, sieťový identifikátor alebo odkazom na jeden či viac zvláštnych prvkov fyzickej, fyziologickej, genetickej, psychickej, ekonomickej, kultúrnej alebo spoločenskej identity tejto fyzickej osoby.</li>
    <li>Prevádzkovateľ nevymenoval / vymenoval zodpovednú osobu pre ochranu osobných údajov. Kontaktnými údajmi zodpovednej osoby sú:</li>
    </ol>
    <p> </p>
    <p><strong>II.</strong></p>
    <p><strong>Zdroje a kategórie spracovávaných osobných údajov</strong></p>
    <ol>
    <li>Prevádzkovateľ spracováva osobné údaje, ktoré ste mu poskytol/la alebo osobné údaje, ktoré prevádzkovateľ získal na základe plnenia Vašej objednávky.</li>
    <li>Prevádzkovateľ spracováva Vaše identifikačné a kontaktné údaje a údaje nutné pre plnenie zmluvy.</li>
    </ol>
    <p> </p>
    <p><strong>III.</strong></p>
    <p><strong>Zákonný dôvod a účel spracovania osobných údajov</strong></p>
    <ol>
    <li>Zákonným dôvodom spracovania osobných údajov je</li>
    </ol>
    <ul>
    <li>plnenie zmluvy medzi Vami a prevádzkovateľom podľa § 13 ods. 1 písm. b) Zákona,</li>
    <li>oprávnený záujem prevádzkovateľa na poskytovaní priameho marketingu (najmä pre zasielanie obchodných oznamov a newsletterov) podľa § 13 ods. 1 písm. f) Zákona,</li>
    <li>Váš súhlas so spracovaním pre účely poskytovania priameho marketingu (najmä pre zasielanie obchodných oznamov a newsletterov) podľa § 13 ods. 1 písm. a) Zákona v prípade, že nedošlo k objednávke tovaru alebo služby.</li>
    </ul>
    <ol start="2">
    <li>Účelom spracovania osobných údajov je</li>
    </ol>
    <ul>
    <li>vybavenie Vašej objednávky a výkon práv a povinností vyplývajúcich zo zmluvného vzťahu medzi Vami a prevádzkovateľom; pri objednávke sú vyžadované osobné údaje, ktoré sú nutné pre úspešné vybavenie objednávky (meno a adresa, kontakt), poskytnutie osobných údajov je nutnou požiadavkou pre uzavretie a plnenie zmluvy, bez poskytnutia osobných údajov nie je možné zmluvu uzavrieť či ju zo strany prevádzkovateľa plniť,</li>
    <li>zasielanie obchodných oznamov a výkon ďalších marketingových aktivít.</li>
    </ul>
    <ol start="3">
    <li>Zo strany prevádzkovateľa nedochádza / dochádza k automatickému individuálnemu rozhodovaniu v zmysle § 28 Zákona. S takým spracovaním ste poskytol/la svoj výslovný súhlas.</li>
    </ol>
    <p> </p>
    <p><strong>IV.</strong></p>
    <p><strong>Doba uchovávania osobných údajov</strong></p>
    <ol>
    <li>Prevádzkovateľ uchováva osobné údaje</li>
    </ol>
    <ul>
    <li>po dobu nevyhnutnú k výkonu práv a povinností vyplývajúcich zo zmluvného vzťahu medzi Vami a prevádzkovateľom a uplatňovanie nárokov z týchto zmluvných vzťahov (po dobu 15 rokov od ukončení zmluvného vzťahu).</li>
    <li>po dobu, než je odvolaný súhlas so spracovaním osobných údajov pre účely marketingu, najdlhšie</li>
    </ul>
    <ol start="2">
    <li>Po uplynutí doby uchovávania osobných údajov prevádzkovateľ osobné údaje vymaže.</li>
    </ol>
    <p> </p>
    <p><strong>V.</strong></p>
    <p><strong>Príjemcovia osobných údajov (subdodávatelia prevádzkovateľa)</strong></p>
    <ol>
    <li>Príjemcovia osobných údajov sú osoby</li>
    </ol>
    <ul>
    <li>Podieľajúce sa na dodávaní tovaru / služieb / realizácii platieb na základe zmluvy,</li>
    <li>zaisťujúce služby prevádzkovania e-shopu (Shoptet) a ďalšie služby v súvislosti s prevádzkovaním e-shopu,</li>
    <li>zaisťujúce marketingové služby.</li>
    </ul>
    <ol start="2">
    <li>Prevádzkovateľ nemá / má v úmysle odovzdať osobné údaje do tretej krajiny (do krajiny mimo EU) alebo medzinárodnej organizácii. Príjemcovia osobných údajov v tretích krajinách sú poskytovatelia mailingových služieb / cloudových služieb.</li>
    </ol>
    <p> </p>
    <p><strong>VI.</strong></p>
    <p><strong>Vaše práva</strong></p>
    <ol>
    <li>Za podmienok stanovených v Zákone máte</li>
    </ol>
    <ul>
    <li>právo na prístup ku svojím osobným údajom podľa § 21 Zákona,</li>
    <li>právo na opravu osobných údajov podľa § 22 Zákona, poprípade obmedzenie spracovania podľa § 24 Zákona,</li>
    <li>právo na výmaz osobných údajov podľa § 23 Zákona,</li>
    <li>právo vzniesť námietku proti spracovaniu podľa § 27 Zákona,</li>
    <li>právo na prenositeľnosť údajov podľa § 26 Zákona,</li>
    <li>právo odvolať súhlas so spracovaním písomne alebo elektronicky na adresu alebo email prevádzkovateľa uvedený v čl. III týchto podmienok.</li>
    </ul>
    <ol start="2">
    <li>Ďalej máte právo podať sťažnosť u Úradu pre ochranu osobných údajov v prípade, že sa domnievate, že bolo porušené Vaše právo na ochranu osobných údajov.</li>
    </ol>
    <p>                                                             </p>
    <p><strong>VII.</strong></p>
    <p><strong>Podmienky zabezpečení osobných údajov</strong></p>
    <ol>
    <li>Prevádzkovateľ prehlasuje, že prijal všetky vhodné technické a organizačné opatrenia k zabezpečeniu osobných údajov.</li>
    <li>Prevádzkovateľ prijal technické opatrení k zabezpečeniu dátových úložísk a úložísk osobných údajov v listinnej podobe, najmä …</li>
    <li>Prevádzkovateľ prehlasuje, že k osobným údajom majú prístup len ním poverené osoby.</li>
    </ol>
    <p> </p>
    <p><strong>VIII.</strong></p>
    <p><strong>Záverečné ustanovenia</strong></p>
    <ol>
    <li>Odoslaním objednávky z internetového objednávkového formulára potvrdzujete, že ste oboznámený/á s podmienkami ochrany osobných údajov a že ich v celom rozsahu prijímate.</li>
    <li>S týmito podmienkami súhlasíte zaškrtnutím súhlasu prostredníctvom internetového formulára. Zaškrtnutím súhlasu potvrdzujete, že ste oboznámený/oboznámená s podmienkami ochrany osobných údajov a že ich v celom rozsahu prijímate.</li>
    <li>Prevádzkovateľ je oprávnený tieto podmienky zmeniť. Novú verziu podmienok ochrany osobných údajov zverejní na svojich internetových stránkach a zároveň Vám zašle novú verziu týchto podmienok na Vašu e-mailovú adresu, ktorú ste prevádzkovateľovi poskytol/la.</li>
    </ol>
    <p> </p>
    <p>Tieto podmienky nadobúdajú účinnosť dňa 25.5.2018.</p>

</ng-container>

<ng-container *ngIf="lang === 'cs'">
    <p><strong>Podmínky ochrany osobních údajů</strong></p>
    <p> </p>
    <p><strong>I.</strong></p>
    <p><strong>Základní ustanovení</strong></p>
    <ol>
    <li>Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „<strong>GDPR</strong>”) je ……. IČ ……se sídlem….. (dále jen: „<strong>správce</strong>“).</li>
    <li>Kontaktní údaje správce jsou</li>
    </ol>
    <p> </p>
    <p> </p>
    <p> </p>
    <ol start="3">
    <li>Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.</li>
    <li>Správce nejmenoval / jmenoval pověřence pro ochranu osobních údajů. Kontaktními údaji pověřence jsou:</li>
    </ol>
    <p> </p>
    <p><strong>II.</strong></p>
    <p><strong>Zdroje a kategorie zpracovávaných osobních údajů</strong></p>
    <ol>
    <li>Správce zpracovává osobní údaje, které jste mu poskytl/a nebo osobní údaje, které správce získal na základě plnění Vaší objednávky.</li>
    <li>Správce zpracovává Vaše identifikační a kontaktní údaje a údaje nezbytné pro plnění smlouvy.</li>
    </ol>
    <p> </p>
    <p><strong>III.</strong></p>
    <p><strong>Zákonný důvod a účel zpracování osobních údajů</strong></p>
    <ol>
    <li>Zákonným důvodem zpracování osobních údajů je</li>
    </ol>
    <ul>
    <li>plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b) GDPR,</li>
    <li>oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. f) GDPR,</li>
    <li>Váš souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.</li>
    </ul>
    <ol start="2">
    <li>Účelem zpracování osobních údajů je</li>
    </ol>
    <ul>
    <li>vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem; při objednávce jsou vyžadovány osobní údaje, které jsou nutné pro úspěšné vyřízení objednávky (jméno a adresa, kontakt), poskytnutí osobních údajů je nutným požadavkem pro uzavření a plnění smlouvy, bez poskytnutí osobních údajů není možné smlouvu uzavřít či jí ze strany správce plnit,</li>
    <li>zasílání obchodních sdělení a činění dalších marketingových aktivit.</li>
    </ul>
    <ol start="3">
    <li>Ze strany správce nedochází / dochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR. S takovým zpracováním jste poskytl/a svůj výslovný souhlas.</li>
    </ol>
    <p> </p>
    <p><strong>IV.</strong></p>
    <p><strong>Doba uchovávání údajů</strong></p>
    <ol>
    <li>Správce uchovává osobní údaje</li>
    </ol>
    <ul>
    <li>po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem a uplatňování nároků z těchto smluvních vztahů (po dobu 15 let od ukončení smluvního vztahu).</li>
    <li>po dobu, než je odvolán souhlas se zpracováním osobních údajů pro účely marketingu, nejdéle</li>
    </ul>
    <ol start="2">
    <li>Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.</li>
    </ol>
    <p> </p>
    <p><strong>V.</strong></p>
    <p><strong>Příjemci osobních údajů (subdodavatelé správce)</strong></p>
    <ol>
    <li>Příjemci osobních údajů jsou osoby</li>
    </ol>
    <ul>
    <li>podílející se na dodání zboží / služeb / realizaci plateb na základě smlouvy,</li>
    <li>zajišťující služby provozování e-shopu (Shoptet) a další služby v souvislosti s provozováním e-shopu,</li>
    <li>zajišťující marketingové služby.</li>
    </ul>
    <ol start="2">
    <li>Správce nemá / má v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci. Příjemci osobních údajů ve třetích zemích jsou poskytovatelé mailingových služeb / cloudových služeb.</li>
    </ol>
    <p> </p>
    <p><strong>VI.</strong></p>
    <p><strong>Vaše práva</strong></p>
    <ol>
    <li>Za podmínek stanovených v GDPR máte</li>
    </ol>
    <ul>
    <li>právo na přístup ke svým osobním údajům dle čl. 15 GDPR,</li>
    <li>právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18 GDPR.</li>
    <li>právo na výmaz osobních údajů dle čl. 17 GDPR.</li>
    <li>právo vznést námitku proti zpracování dle čl. 21 GDPR a</li>
    <li>právo na přenositelnost údajů dle čl. 20 GDPR.</li>
    <li>právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email správce uvedený v čl. III těchto podmínek.</li>
    </ul>
    <ol start="2">
    <li>Dále máte právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domníváte, že bylo porušeno Vaší právo na ochranu osobních údajů.</li>
    </ol>
    <p> </p>
    <p><strong>VII.</strong></p>
    <p><strong>Podmínky zabezpečení osobních údajů</strong></p>
    <ol>
    <li>Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů.</li>
    <li>Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné podobě, zejména …</li>
    <li>Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.</li>
    </ol>
    <p> </p>
    <p><strong>VIII.</strong></p>
    <p><strong>Závěrečná ustanovení</strong></p>
    <ol>
    <li>Odesláním objednávky z internetového objednávkového formuláře potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.</li>
    <li>S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře. Zaškrtnutím souhlasu potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.</li>
    <li>Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách a zároveň Vám zašle novou verzi těchto podmínek Vaši e-mailovou adresu, kterou jste správci poskytl/a.</li>
    </ol>
    <p> </p>
    <p>Tyto podmínky nabývají účinnosti dnem 25.5.2018.</p>
    <p> </p>
    <p>Tyto podmínky ochrany osobních údajů informují subjekt údajů o zpracování osobních údajů, které Vám zákazník poskytl nebo které zpracováváte na základě plnění smlouvy (např. seznam objednaného zboží).</p>
    <p>Tyto podmínky se vztahují na tři situace:</p>
    <ul>
    <li>Zákazník si u Vás objednal zboží nebo služby a Vy zpracováváte osobní údaje pro splnění objednávky.</li>
    <li>Zákazník si u Vás objednal zboží nebo služby a Vy zpracováváte osobní údaje pro splnění objednávky. Těmto zákazníkům zároveň posíláte obchodní sdělení (např. newslettery).</li>
    <li>Zpracováváte osobní údaje i jiných osob, než zákazníků pro účely marketingu, pokud Vám tyto osoby poskytly osobní údaje a daly Vám souhlas se zpracováním osobních údajů pro účely marketingu.</li>
    </ul>
    <p> </p>
    <p>Vyplňte údaje identifikující Vaši společnost nebo Vaše údaje jako fyzické osoby podnikající.</p>
    <p> </p>
    <p>Vyplňte údaje, které budou sloužit Vašim zákazníkům jako kontakt na Vás.</p>
    <p> </p>
    <p>Uveďte, zda jste jmenoval/a pověřence pro ochranu osobních údajů.</p>
    <p> </p>
    <p>Pokud jste jmenoval/a pověřence, vyplňte jeho jméno a kontakt.</p>
    <p> </p>
    <p>Ponechte, pokud je účelem plnění smlouvy, resp. objednávky zákazníka.</p>
    <p> </p>
    <p>Ponechte v situaci, pokud zpracováváte osobní údaje pouze po plnění objednávky zákazníka.</p>
    <p> </p>
    <p>Ponechte v situaci, pokud posíláte svým zákazníkům obchodních sdělení (např. newslettery).</p>
    <p> </p>
    <p>Pro případ, že zpracováváte osobní údaje osob, které Vám poskytly kontaktní údaje pro zasílání obchodních sdělení, ale tato osoba (ještě) neobjednala zboží nebo služby.</p>
    <p> </p>
    <p>Vymažte, pokud nezpracováváte osobní údaje pro účely marketingu.</p>
    <p> </p>
    <p>Uveďte, zda provádíte automatizované rozhodování o zákaznících.</p>
    <p> </p>
    <p>Pokud provádíte automatizované rozhodování, musíte mít výslovný souhlas zákazníka.</p>
    <p> </p>
    <p>Vyplňte dobu, po kterou budete údaje osob, které Vám daly souhlas se zpracováním osobních údajů pro účely marketingu.</p>
    <p> </p>
    <p>Ponechte v případě, že zpracováváte osobní údaje osob, které Vám poskytly kontaktní údaje pro zasílání obchodních sdělení, ale tato osoba (ještě) neobjednala zboží nebo služby.</p>
    <p> </p>
    <p>Vyberte, jakým osobám osobní údaje předáváte (např. dodavatelé, zasílatelé zboží, Shoptet, účetní, apod.)</p>
    <p> </p>
    <p>Zvolte, zda předáváte osobní údaje do třetích zemí.</p>
    <p> </p>
    <p>Pokud předáváte údaje do třetích zemí, uveďte, jaké jsou kategorie těchto příjemců. Nejčastějšími příjemci jsou poskytovatelé služeb, které používáte pro účely zasílání emailů (Mailchimp) nebo služby, cloudů, které mají své servery mimo EU.</p>
    <p> </p>
    <p>Ponechte, pokud zpracováváte osobní údaje na základě souhlasu.</p>
    <p> </p>
    <p>Zde můžete uvést příklady technického zabezpečení počítačových úložišť dat, např. hesla, antivirový program, šifrování, zálohy, apod.</p>
    <p> </p>
    <p>Ponechte, pokud zpracováváte osobní údaje na základě souhlasu.</p>
</ng-container>

<ng-container *ngIf="lang === 'en'">
    <p>Generic Privacy Policy template</p>
    <h1>Privacy Policy</h1>
    <p> </p>
    <p>Last updated: (add date)</p>
    <p> </p>
    <p>My Company (change this) ("us", "we", or "our") operates http://www.mysite.com (change this) (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
    <p> </p>
    <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
    <p> </p>
    <p><strong>Information Collection And Use</strong></p>
    <p> </p>
    <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
    <p> </p>
    <p><strong>Log Data</strong></p>
    <p> </p>
    <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").</p>
    <p> </p>
    <p>This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
    <p> </p>
    <p>In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this …</p>
    <p> </p>
    <p><strong>Communications</strong></p>
    <p> </p>
    <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...</p>
    <p>  </p>
    <p><strong>Cookies</strong></p>
    <p> </p>
    <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
    <p> </p>
    <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
    <p> </p>
    <p><strong>Security</strong></p>
    <p> </p>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
    <p> </p>
    <p><strong>Changes To This Privacy Policy</strong></p>
    <p> </p>
    <p>This Privacy Policy is effective as of (add date) and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
    <p> </p>
    <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.</p>
    <p> </p>
    <p>If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>
    <p> </p>
    <p><strong>Contact Us</strong></p>
    <p> </p>
    <p>If you have any questions about this Privacy Policy, please contact us.</p>
    <p> </p>

</ng-container>

  </div>
</div>
