:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container {
    @media screen and (max-width: 600px) {
      padding: 0 !important;
    }
  }

  .order-content {
    display: flex;
    flex-flow: wrap;
  }

  .order-top-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h4 {
    font-size: 20px;
    line-height: 22px;
    padding-right: 10px;
  }

  .product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .stock {
      font-size: 16px;
      color: #1de9b6;
    }

    .price {
      padding: 0 100px;
      font-size: 25px;
      font-weight: 500;
    }
  }

  .order-cart {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .order-cart-title {
    text-align: center;
  }

  .order-cart-img {
    max-width: 100px;
    margin: 0 5px;
  }

  .order-form {
    display: flex;
  }

  .order-tags {
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
    margin: 20px 0;
    font-size: 16px;
  }

  .order-edit-toggle {
    cursor: pointer;
  }
}
