body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

.main-scroll-wrap {
  position: absolute;
  scroll-behavior: smooth;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.main {
  position: relative;
  flex: 1 0 auto;
  z-index: 1;
  @include add-main-background(#fff, var(--background-color), 45deg, 1px, 80px);
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: var(--main-background-url);
  background-repeat: no-repeat;
  z-index: 0;
}

.container, .container-mid {
  padding: 15px;

  @media screen and (max-width: 600px) {
    padding: 5px !important;
  }
}

.container-mid {
  max-width: 1000px;
  margin: auto;
}

.sidebar-layout {
  display: grid;
  display: -ms-grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px 1fr;
  -ms-grid-columns: 200px 1fr;
  grid-column-gap: 15px;

  .main-wrap {
    grid-area: main;
  }

  .sidebar-wrap {
    grid-area: sidebar;
    position: relative;
  }

  @media screen and (max-width: 600px) {
    grid-template-areas: "sidebar" "main";
    grid-template-columns: auto;

    .main-wrap {
      grid-area: main;
    }

    .sidebar-wrap {
      grid-area: sidebar;
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.clickable {
  cursor: pointer !important;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.margin {
  &-left-small {
    margin-left: 5px;
  }

  &-top-basic {
    margin-top: 1rem;
  }
}

// customize Angular Material

.mdc-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}

.mdc-evolution-chip__action--presentational {
  cursor: pointer !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: #fff;
}
