body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
}

.full-width {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.main-scroll-wrap {
  position: absolute;
  scroll-behavior: smooth;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: theme-color('secondary');
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

@mixin stripes(
  $color1: #000460,
  $color2: transparent,
  $angle: 0deg,
  $stripe1-width: 25px,
  $stripe2-width: null
) {
  @if ($stripe2-width == null) {
    $stripe2-width: $stripe1-width;
  }

  $tile-size: ($stripe1-width + $stripe2-width) * 2;
  $stripe2-start: ($stripe1-width / $tile-size) * 100%;
  $stripe3-start: $stripe2-start + (($stripe2-width / $tile-size) * 100%);
  $stripe4-start: $stripe3-start + (($stripe1-width / $tile-size) * 100%);

  background-size: $tile-size $tile-size;
  background-image: linear-gradient(
    $angle,
    $color1,
    $color1 $stripe2-start,
    $color2 $stripe2-start,
    $color2 $stripe3-start,
    $color1 $stripe3-start,
    $color1 $stripe4-start,
    $color2 $stripe4-start,
    $color2
  );
  background-repeat: repeat;
}

.main {
  flex: 1 0 auto;

  @include stripes(#000460, #fff, 45deg, 1px, 80px);
}

.container {
  padding: 15px;
  @media screen and (max-width: 600px) {
    padding: 5px !important;
  }
}

.sidebar-layout {
  display: grid;
  display: -ms-grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 200px 1fr;
  -ms-grid-columns: 200px 1fr;
  grid-column-gap: 15px;

  .main-wrap {
    grid-area: main;
  }

  .sidebar-wrap {
    grid-area: sidebar;
  }

  @media screen and (max-width: 600px) {
    grid-template-areas: "sidebar" "main";
    grid-template-columns: auto;

    .main-wrap {
      grid-area: main;
    }
    .sidebar-wrap {
      grid-area: sidebar;
    }
  }
}

.clickable {
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.btn {
  background-color: $secondary-color !important;
}
