@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$eshop-app-primary: mat.m2-define-palette($material-primary-color);
$eshop-app-accent:  mat.m2-define-palette($material-secondary-color);
$eshop-typography: mat.m2-define-typography-config(
  $font-family: 'Kanit, sans-serif',
);

$eshop-app-theme: mat.m2-define-light-theme((
  color: (
    primary: $eshop-app-primary,
    accent: $eshop-app-accent
  ),
  typography:  $eshop-typography,
 ));


 @include mat.all-component-typographies($eshop-typography);
 @include mat.all-component-themes($eshop-app-theme);
