@import '~@angular/material/theming';

// generate pallete from http://mcg.mbitson.com/
$material-primary-color: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$eshop-primary: mat-palette($material-primary-color, 500);
$eshop-accent:  mat-palette($mat-gray, A400);
$eshop-warn:    mat-palette($mat-red);

$primary-color: mat-color($eshop-primary);
$secondary-color: mat-color($eshop-accent);
$success-color: #4bb543;
$error-color:  mat-color($eshop-warn);
$background-color: #fcfcfc;
$main-background: '';

@mixin add-main-background(
  $color1: $primary-color,
  $color2: transparent,
  $angle: 0deg,
  $stripe1-width: 25px,
  $stripe2-width: null
) {
  @if ($stripe2-width == null) {
    $stripe2-width: $stripe1-width;
  }

  $tile-size: ($stripe1-width + $stripe2-width) * 2;
  $stripe2-start: ($stripe1-width / $tile-size) * 100%;
  $stripe3-start: $stripe2-start + (($stripe2-width / $tile-size) * 100%);
  $stripe4-start: $stripe3-start + (($stripe1-width / $tile-size) * 100%);

  background-size: $tile-size $tile-size;
  background-image: linear-gradient(
    $angle,
    $color1,
    $color1 $stripe2-start,
    $color2 $stripe2-start,
    $color2 $stripe3-start,
    $color1 $stripe3-start,
    $color1 $stripe4-start,
    $color2 $stripe4-start,
    $color2
  );
  background-repeat: repeat;

  @if ($main-background != '') {
    background-size: cover;
    background-image: $main-background;
    background-repeat: no-repeat;
  }
}



