@import '~@angular/material/theming';

// generate pallete from http://mcg.mbitson.com/
$material-primary-color: (
  50 : var(--theme-primary-50, #e0e0e0),
  100 : var(--theme-primary-100, #b3b3b3),
  200 : var(--theme-primary-200, #808080),
  300 : var(--theme-primary-300, #808080),
  400 : var(--theme-primary-400, #4d4d4d),
  500 : var(--theme-primary-500, #262626),
  600 : var(--theme-primary-600, #000000),
  700 : var(--theme-primary-700, #000000),
  800 : var(--theme-primary-800, #000000),
  900 : var(--theme-primary-900, #000000),
  A100 : var(--theme-primary-A100, #a6a6a6),
  A200 : var(--theme-primary-A200, #8c8c8c),
  A400 : var(--theme-primary-A400, #737373),
  A700 : var(--theme-primary-A700, #666666),
  contrast: (
    50: var(--theme-primary-contrast-50, #000000),
    100: var(--theme-primary-contrast-100, #000000),
    200: var(--theme-primary-contrast-200, #000000),
    300: var(--theme-primary-contrast-300, rgba(255,255,255,0.8)),
    400: var(--theme-primary-contrast-400, rgba(255,255,255,0.8)),
    500: var(--theme-primary-contrast-500, rgba(255,255,255,0.8)),
    600: var(--theme-primary-contrast-600, rgba(255,255,255,0.8)),
    700: var(--theme-primary-contrast-700, rgba(255,255,255,0.8)),
    800: var(--theme-primary-contrast-800, rgba(255,255,255,0.8)),
    900: var(--theme-primary-contrast-900, rgba(255,255,255,0.8)),
    A100: var(--theme-primary-contrast-A100, #000000),
    A200: var(--theme-primary-contrast-A200, #000000),
    A400: var(--theme-primary-contrast-A400, #ffffff),
    A700: var(--theme-primary-contrast-A700, #ffffff),
  )
);

$material-secondary-color: (
  50 : var(--theme-secondary-50, #fbfbfb),
  100 : var(--theme-secondary-100, #f6f6f6),
  200 : var(--theme-secondary-200, #f0f0f0),
  300 : var(--theme-secondary-300, #e9e9e9),
  400 : var(--theme-secondary-400, #e5e5e5),
  500 : var(--theme-secondary-500, #e0e0e0),
  600 : var(--theme-secondary-600, #dcdcdc),
  700 : var(--theme-secondary-700, #d8d8d8),
  800 : var(--theme-secondary-800, #d3d3d3),
  900 : var(--theme-secondary-900, #cbcbcb),
  A100 : var(--theme-secondary-A100, #ffffff),
  A200 : var(--theme-secondary-A200, #ffffff),
  A400 : var(--theme-secondary-A400, #ffffff),
  A700 : var(--theme-secondary-A700, #ffffff),
  contrast: (
    50: var(--theme-secondary-contrast-50, #000000),
    100: var(--theme-secondary-contrast-100, #000000),
    200: var(--theme-secondary-contrast-200, #000000),
    300: var(--theme-secondary-contrast-300, #000000),
    400: var(--theme-secondary-contrast-400, #000000),
    500: var(--theme-secondary-contrast-500, #000000),
    600: var(--theme-secondary-contrast-600, #000000),
    700: var(--theme-secondary-contrast-700, #000000),
    800: var(--theme-secondary-contrast-800, #000000),
    900: var(--theme-secondary-contrast-900, #000000),
    A100: var(--theme-secondary-contrast-A100, #000000),
    A200: var(--theme-secondary-contrast-A200, #000000),
    A400: var(--theme-secondary-contrast-A400, #000000),
    A700: var(--theme-secondary-contrast-A700, #000000),
  )
);

$eshop-primary: mat-palette($material-primary-color);
$eshop-accent:  mat-palette($material-secondary-color);
$eshop-warn:    mat-palette($mat-red);
$eshop-background:  mat-palette($material-secondary-color, 50);

:root {
  --primary-color: #{mat-color($eshop-primary)};
  --secondary-color: #{mat-color($eshop-accent)};
  --success-color: #4bb543;
  --error-color: #{mat-color($eshop-warn)};
  --background-color: #{mat-color($eshop-background)};
  --main-background: '';
  --main-background-url: url("/");
}


@mixin add-main-background(
  $color1: var(--primary-color),
  $color2: transparent,
  $angle: 0deg,
  $stripe1-width: 25px,
  $stripe2-width: null
) {
  @if ($stripe2-width == null) {
    $stripe2-width: $stripe1-width;
  }

  $tile-size: ($stripe1-width + $stripe2-width) * 2;
  $stripe2-start: ($stripe1-width / $tile-size) * 100%;
  $stripe3-start: $stripe2-start + (($stripe2-width / $tile-size) * 100%);
  $stripe4-start: $stripe3-start + (($stripe1-width / $tile-size) * 100%);

  background-size: $tile-size $tile-size;
  background-image: linear-gradient(
    $angle,
    $color1,
    $color1 $stripe2-start,
    $color2 $stripe2-start,
    $color2 $stripe3-start,
    $color1 $stripe3-start,
    $color1 $stripe4-start,
    $color2 $stripe4-start,
    $color2
  );
  background-repeat: repeat;

  @if (variable-exists(var(--main-background))) {
    background-size: cover;
    background-image: var(--main-background-url);
    background-repeat: no-repeat;
  }
}
