<div class="main">
  <div class="container">
    @if (!orders) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @if (orders) {
    <div class="orders-list-wrapper">
      @for (order of orders; track order) {
      <div class="card scale-transition">
        <div class="card-action">
          <p>{{ 'Status' | translate | async }}: {{ order?.status }}</p>
          <div class="action-wrap">
            <button mat-raised-button color="primary" [routerLink]="[orderUrl + order?.orderId]">
              {{ 'Detail' | translate | async }}
            </button>
          </div>
          <br />
          <div class="price-card">{{ 'Amount' | translate | async }}: {{ order?.amount }} {{ order?.currency }}</div>
          <br />
          <p>{{ 'Type' | translate | async }}: {{ order?.type }}</p>
          <p>{{ 'Customer' | translate | async }}: {{ order?.customerEmail }}</p>
          <p>{{ 'Created' | translate | async }}: {{ order.dateAdded | date: 'dd-MM-yy' }}</p>
          <p>{{ 'Paid' | translate | async }}: {{ order?.outcome?.seller_message }}</p>
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
