<div>
  <form (submit)="handleForm($event)" class="checkout">
    <label for="card-info">Card Info</label>
  <div id="form-field">
        <div id="card-info" #cardElement></div>
        <button class="card-button" mat-raised-button color="primary" id="submit-button" type="submit">
          {{ 'MakeOrder' | translate | async }} {{ 'and' | translate | async }} {{'Pay' | translate | async}} {{price}} {{ currency }}
        </button>
        <div id="card-errors" role="alert" *ngIf="cardErrors">
            &nbsp;{{ cardErrors }}
        </div>
    </div>
  </form>
</div>
