@if (!order) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @if (order) {

<mat-card appearance="outlined" class="card">
  <mat-card-content class="order-top-content">
    <div>
      <h4>{{ order?.orderId }}</h4>
      <div class="product-info">
        <div class="stock">Status: {{ order?.status }}</div>
        <div class="price">{{ 'Amount' | translate | async }}: {{ order?.amount }} {{ order.currency }}</div>
      </div>
      <mat-chip-listbox class="order-tags">
        <mat-chip-option>{{ 'Customer' | translate | async }}: {{ order?.customerEmail }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div>
      @if (order?.description) {
      <p>{{ 'Description' | translate | async }}: {{ order?.description }}</p>
      }
      <p>{{ 'Customer' | translate | async }}: {{ order?.customerEmail }}</p>
      <p>{{ 'Created' | translate | async }}: {{ order.dateAdded | date: 'dd-MM-yy' }}</p>
      <p>{{ 'Paid' | translate | async }}: {{ order?.outcome?.seller_message }}</p>
      <p>{{ 'Total_price' | translate | async }}: {{ order?.cart?.totalPrice }}</p>
      <p>{{ 'Total_quantity' | translate | async }}: {{ order?.cart?.totalQty }}</p>
    </div>
  </mat-card-content>
  <mat-card-content class="order-content">
    @if (order.addresses[0]; as address) {
    <div>
      <h4>{{ 'About_customer' | translate | async }}</h4>
      <p>{{ 'City' | translate | async }}: {{ address.city }}</p>
      <p>{{ 'Country' | translate | async }}: {{ address.country }}</p>
      <p>{{ 'Address' | translate | async }}: {{ address.line1 }}</p>
      <p>{{ 'Zip' | translate | async }}: {{ address.zip }}</p>
      @if (address.name) {
      <p>{{ 'Name' | translate | async }}: {{ address.name }}</p>
      }
      <br />
    </div>
    }
    <div>
      <h4 class="order-cart-title">Cart</h4>
      @for (cartItem of order?.cart?.items; track cartItem) {
      <div>
        <div class="order-cart">
          <a [routerLink]="['/' + lang + '/product/' + cartItem?.item?.titleUrl]">
            <img class="order-cart-img" src="{{ cartItem?.item?.mainImage?.url }}" />
          </a>
          <div class="order-cart-text">
            <span>{{ cartItem.qty }} ks </span> {{ cartItem?.item.title }} <br />
            <span>{{ cartItem.price }} {{ order.currency }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>

}
