:host {
  .main {
    background: #fff;
  }

  .pages_edit-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .pages_edit-after-send {
    display: flex;
    align-items: center;
    padding: 50px;
  }

}
