@if (!sendRequest && (choosenLanguageSub$ | async); as chooseLang) {

<div class="pages_edit-top">
  <div>
    <mat-form-field class="pages_edit-field">
      <mat-label>{{ 'Add_page' | translate | async }}</mat-label>
      <input matInput [(ngModel)]="newPage" />
    </mat-form-field>
    <button class="translations-button" mat-flat-button color="accent" (click)="addPage()">+</button>
  </div>
  <mat-form-field class="page-select">
    <mat-label>
      {{ 'From_existing_pages' | translate | async }}
    </mat-label>
    <mat-select [(ngModel)]="chosenPage" (ngModelChange)="chosePage()">
      @for (option of pages$ | async; track option) {
      <mat-option [value]="option.titleUrl">
        {{ option.titleUrl }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="lang-select">
    <mat-label>
      {{ 'Language_for_page' | translate | async }}
    </mat-label>
    <mat-select [ngModel]="chooseLang" (ngModelChange)="setLang($event)">
      @for (option of languageOptions; track option) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
@if (pagesEditForm.get('titleUrl').value) {
<form class="pages_edit-form" [formGroup]="pagesEditForm">
  <h2>{{ pagesEditForm.get('titleUrl').value }}</h2>
  <div [formGroupName]="chooseLang">
    <mat-form-field class="pages_edit-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </div>
  @if (pagesEditForm.get(chooseLang).value; as langValue) {
  <app-tiny-editor [description]="langValue.contentHTML" (editorContentChange)="onPageEditorChange($event, chooseLang)"> </app-tiny-editor>
  }
</form>
}
<button mat-flat-button color="primary" [disabled]="pagesEditForm.invalid" (click)="savePage()">Save</button>
<button mat-flat-button color="primary" [disabled]="pagesEditForm.invalid" (click)="removePage()">Remove</button>

} @if (sendRequest) {
<div class="pages_edit-after-send">
  <span> {{ 'Request_sended' | translate | async }}</span>
  <button class="product_edit-btn-action" mat-raised-button color="primary" (click)="sendRequest = !sendRequest">
    {{ 'Again' | translate | async }}
  </button>
</div>
}
